h1 {
  text-align: center;
}

.hey {
  margin-left: 50px;
}

span {
  margin-left: 50px;
  font-size: 28px;
}

button {
  margin-top: 10px;
  margin-left: 50px;
  size: 2rem;
  padding: 5px;
  font-size: 16px;
}
