body {
  background-color: white;
  color: black;
  margin: 0;
}
.App {
  margin: 0;
}
.j {
  text-align: center;
}
.c {
  text-align: center;
  background-color: rgb(10, 167, 230);
  color: white;
}
nav {
  background-color: rgb(10, 167, 230);
}
h1 {
  text-align: center;
}

.hey {
  margin-left: 50px;
}

span {
  margin-left: 50px;
  font-size: 28px;
  color: black;
}

button {
  margin-top: 10px;
  margin-left: 50px;
  size: 2rem;
  padding: 5px;
  font-size: 16px;
  width: 100px;
}
footer {
  margin-top: 340px;
  text-align: center;
  justify-content: space-between;
}
