body {
  background-color: white;
  color: black;
  margin: 0;
}
.c {
  text-align: center;
  background-color: rgb(10, 167, 230);
  color: white;
}
nav {
  background-color: rgb(10, 167, 230);
}
h5 {
  text-align: center;
}

.hey {
  margin-left: 50px;
}

.ya {
  font-size: 25px;
  font-weight: 1rem;
}

button {
  margin-top: 10px;
  margin-left: 50px;
  size: 2rem;
  padding: 5px;
  font-size: 16px;
  width: 100px;
}
footer {
  margin-top: 340px;
  text-align: center;
  justify-content: space-between;
}
.card {
  margin-top: 40px;
  padding: 20px;
}
